.appointment-container {
  display: flex;
  font-family: Arial, sans-serif;
  color: #000;
  
}
.appointment-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #1114a3;
  color: white;
  width: 165vh;
}

.appointment-header-text {
  font-size: 1.5rem;
  font-weight: bold;
}

.appointment-header-icons {
  display: flex;
  align-items: center;
}

.appointment-header-icons i {
  font-size: 1.2rem;
  cursor: pointer;
}

.appointment-popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.appointment-popup-content {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  width: 300px;
}

.appointment-popup-content .close {
  position: absolute;
  top: 10px;
  right: 15px;
  font-size: 1.5rem;
  cursor: pointer;
}
.appointment-header-icons button{
  background-color: #1114a3;
}
.appointment-button-container {
  margin-top: 20px;
}

.appointment-boton {
  margin: 5px;
  padding: 10px 15px;
  background-color: #1114a3;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.appointment-boton:hover {
  background-color: #0d0d9e;
}
.appointment-sidebar {
  min-width: 200px;

  width: 200px; 
  transition: width 0.3s ease;
  background-color:#1114a3;
  color: white;
  height: 100vh;
  padding: 5px 1em;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  position: sticky;
  box-sizing: border-box;
  border-right: 1px solid #2023cf;
  top: 0;
  align-self: start;
  justify-content: space-between;
}

.appointment-sidebar.collapsed {
  width: 70px; /* Collapsed width */
  transition: 300ms ease-in-out;
}

/* Adjust the position and size of the content within the sidebar */
.appointment-sidebar-logo {
  width: 110px;
  height: 50px;
  margin: 20px 0;
  display: block;
  transition: width 0.3s ease;
}

.appointment-sidebar.collapsed .appointment-sidebar-logo {
  display: none;
}

/* Adjust padding and hide text when collapsed */
.appointment-sidebar ul {
  list-style: none;
  padding: 0;
  flex-grow: 1;
}
.appointment-sidebar ul li:first-child{
  display: flex;
  justify-content: flex-end;
}
.appointment-sidebar button{
  background-color:#1114a3;
  border: none;
  width: 1px;
}
.appointment-sidebar li {
  margin: 15px 0;
  display: flex;
  align-items: center;
  white-space: nowrap;
  overflow: hidden;
  transition: all 0.3s ease;
}

.appointment-sidebar.collapsed li {
  justify-content: center; /* Center icons */
}

.appointment-sidebar li i {
  margin-right: 10px;
  transition: margin 0.3s ease;
}

.appointment-sidebar.collapsed li i {
  margin-right: 0; /* Remove margin for icons */
}

.appointment-sidebar.collapsed li span {
  display: none; /* Hide text when collapsed */
}

.appointment-logout {
  display: flex;
  align-items: center;
  white-space: nowrap;
  overflow: hidden;
  transition: all 0.3s ease;
  margin-top: auto;
}

.appointment-sidebar.collapsed .appointment-logout {
  justify-content: center;
}

  
/* Main Content */
.appointment-main-content {
  flex-grow: 1;
  padding: 20px;
}

/* What is this for ==============*/
.layout-container {
  background-image: url('./assets/picture/medikablue.svg');
  background-repeat: no-repeat;
  background-position: center;
}


.appointment-container {
  background: none;
}
.appointment-container h2{
  font-size: 20px;
  text-align: center;
  background-color: #1114a3;
  color: white;
  padding: 10px;
}

/*1ST CONTAINER*/
.appointment-appointment- {
  display: flex;
  justify-content:center;
  align-items: center;
  text-align: center;
}
.appointment-text{
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  padding: 10px 20px;
  background-color: #1114a3;
  color: white;
  width: 165vh;
  height: 20px;
  font-size: 8px;
  margin-top:10px;
}

/*1st box*/
.appointment-app-details{
  width: 29%;
  height: 450px;  
  padding: 10px; 
  margin: 10px; 
  box-sizing: border-box;
  border-radius: 8px;
  background-color:#1114a3;
  color: #ffffff;
  font-weight: bold;
  font-size:large;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.appointment-app-item {
  display: flex; 
  justify-content: space-between; 
  align-items: center;
  margin-bottom: 5px; 
}
.appointment-app-item p {
  margin: 0;
  font-size: 16px;
}
.appointment-appcon-placeholder {
  background-color: #d1d8e0;
  color: #1114a3; 
  padding:10px;
  margin: 10px 0;
  border-radius: 60px;
  border: 1px solid #2023cf ;

  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 10px;
}
.appointment-submit-btn {
  width: 280px;
  padding: 10px 20px; 
  border: none;
  border-radius: 25px;
  background-color:#2023cf;
  color: #ffffff;
  font-size: 15px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin: 0 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.appointment-submit-btn:hover {
  background-color: #ffffff;
  color: #2023cf;
  border: solid 2px #2023cf;
}

/*2nd box*/
.appointment-appointment-details { 
  width: 450px;
  height: 450px;
  padding: 10px; 
  margin: 10px; 
  box-sizing: border-box;
  border-radius: 8px;
  background-color:#eeeeee;
  color: #2023cf;
  font-weight: bold;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.appointment-appdeets{
  width: 350px;
  background-color: #d1d8e0;
  border-radius: 60px;
  border: 1px solid #2023cf;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  font-size: 10px;
  padding: 10px; 
  margin: 10px 0;
}

/*3rd box*/
.appointment-service-time-date{
  display: flex;
  flex-direction: column;

}
.appointment-type-selector span{
  font-size: 30px;
  background-color: none;
}
.appointment-type-selector {
  width: 250px;
  height: 150px;   
  padding: 10px; 
  margin: 10px;
  gap: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  border-radius: 8px;
  background-color:#eeeeee;
  color: #2023cf;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  font-weight:bold;
}
.appointment-type-selector label{
  font-size:12px;
}
.appointment-time-selector {
  width: 250px;
  height: 140px;  
  padding: 20px; 
  margin: 10px;
  gap:20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  border-radius: 8px;
  background-color:#eeeeee;
  color: #2023cf;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  font-weight: bold;
  font-size:large;
}
.appointment-date-selector{
  width: 250px;
  height: 140px;   
  padding: 20px; 
  margin: 10px;
  gap:20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  border-radius: 8px;
  background-color:#eeeeee;
  color: #2023cf;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  font-weight: bold;
  font-size:large;
}

/*2ND CONTAINER*/
.appointment-text1{
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  padding: 10px 20px;
  background-color: #1114a3;
  color: white;
  width: 165vh;
  height: 20px;
  font-size: 8px;
}
.appointment-container2 {
  display: flex;
  justify-content: space-between;
}
.appointment-history{
  width: 100%;
  height: 300px; 
  padding: 20px; 
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  border-radius: 8px;
  background-color:#eeeeee;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  color: #2023cf;
}
.appointment-history table {
  width: 100%;
  color:#ffffff;
  display: flex;
  flex-direction: column;
  border-collapse: collapse;
  margin: 10px 0;
}
.appointment-history th,
.appointment-history td {
  padding: 10px;
  border: 1px solid #ddd;
  text-align: left;
}

.appointment-history table th {
  width: 150px;
  height: 20px;
  background-color: #2023cf;
  border-radius: 5px;
  color: #ffffff;
  font-size: 10px;
  padding: 10px; 
}
.appointment-history table td{
  width: 150px;
  height: 20px;
  border-radius: 5px;
  color: #2023cf;
  border: solid 1px #2023cf;
  font-size: 10px;
  padding: 10px; 
  text-align: center;
}




.appointment-container a{

  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;

}


.appointment-container a:hover{
  color: #535bf2;
}

.appointment-appcontainer h1{
  font-size: 3.2em;
  line-height: 1.1;
}

.appointment-header-icons button{
  background-color: #1114a3;
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
}

.appointment-sidebar button{
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
}

.appointment-header-icons button:hover{
  border-color: #646cff;
}

.appointment-container button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.appointment-container{
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;


  
}



.appointment-container{
  background-image: url('../../assets/picture/cityhall.png');
  background-size: cover;
  background-position: center; /* Centers the background image */
  background-repeat: no-repeat
}












.appointment-settings{
  padding: 0;
  margin: 0;
  color: #000;
  font-weight: bold;
}

.appointment-button-settings {
  margin: 10px;
}


/*terms and condition in setting*/
.appointment-settings-tc{
  color: #000;
}

.appointment-settings button{
  margin: 10px;
}


.appointment-button-settings button {
  margin: 10px;
  padding: 10px 15px;
  background-color: #1114a3;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.appointment-boton:hover {
  background-color: #0d0d9e;
}


.appointment-container1{
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 1rem;
}