.dashboard-container {
  display: flex;
  font-family: Arial, sans-serif;
  color: #000;
}
.dashboard-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #1114a3;
  color: white;
  width: 165vh;
}


.dashboard-header-text {
  font-size: 1.5rem;
  font-weight: bold;
}

.dashboard-header-icons {
  display: flex;
  align-items: center;
}

.dashboard-header-icons i {
  font-size: 1.2rem;
  cursor: pointer;
}

.dashboard-popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.dashboard-popup-content {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  width: 1000px;
}

.dashboard-popup .dashboard-close {
  position: absolute;
  top: 10px;
  right: 15px;
  font-size: 1.5rem;
  cursor: pointer;
}

.dashboard-settings-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.settings-list li {
  margin: 10px 0;
}
.dashboard-header-icons button{
  background-color: #1114a3;
}
.dashboard-button-container {
  margin-top: 20px;
}

.dashboard-boton {
  margin: 5px;
  padding: 10px 15px;
  background-color: #1114a3;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.dashboard-boton:hover {
  background-color: #0d0d9e;
}




.dashboard-sidebar {
  min-width: 200px; /* Minimum width to avoid excessive shrinking */

  width: 200px; 
  transition: width 0.3s ease;
  background-color:#1114a3;
  color: white;
  height: 100vh;
  padding: 5px 1em;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  position: sticky;
  box-sizing: border-box;
  border-right: 1px solid #2023cf;
  top: 0;
  align-self: start;
  justify-content: space-between;
}

.dashboard-sidebar.collapsed {
  width: 60px; /* Collapsed width */
  transition: 300ms ease-in-out;
}

/* Adjust the position and size of the content within the sidebar */
.dashboard-sidebar-logo {
  width: 110px;
  height: 50px;
  margin: 20px 0;
  display: block;
  transition: width 0.3s ease;

  
}

.dashboard-sidebar.collapsed .dashboard-sidebar-logo {
  display: none;
}

/* Adjust padding and hide text when collapsed */
.dashboard-sidebar ul {
  list-style: none;
  padding: 0;
  flex-grow: 1;
}
.dashboard-sidebar ul li:first-child{
  display: flex;
  justify-content: flex-end;
}
.dashboard-sidebar button{
  background-color:#1114a3;
  border: none;
  width: 1px;
}
.dashboard-sidebar li {
  margin: 15px 0;
  display: flex;
  align-items: center;
  white-space: nowrap;
  overflow: hidden;
  transition: all 0.3s ease;
}

.dashboard-sidebar.collapsed li {
  justify-content: center; /* Center icons */
}

.dashboard-sidebar li i {
  margin-right: 10px;
  transition: margin 0.3s ease;
}

.dashboard-sidebar.collapsed li i {
  margin-right: 0; /* Remove margin for icons */
}

.dashboard-sidebar.collapsed li span {
  display: none; /* Hide text when collapsed */
}

.dashboard-logout {
  display: flex;
  align-items: center;
  white-space: nowrap;
  overflow: hidden;
  transition: all 0.3s ease;
  margin-top: auto;
}

.dashboard-sidebar.collapsed .logout {
  justify-content: center;
}

  
/* Main Content */
.dashboard-main-content {
  flex-grow: 1;
  padding: 20px;
}

/* WHATS THIS FOR ==============*/
.layout-container {
  background-image: url('./assets/picture/medikablue.svg');
  background-repeat: no-repeat;
  background-position: center;
}

.dashboard-container {
  background: none;
}
.dashboard-container h2{
  font-size: 20px;
  text-align: center;
  background-color: #1114a3;
  color: white;
  padding: 10px;
}

.dashboard-container1 {
  display: flex;
  justify-content: space-between;
}
.dashboard-stat-card {
 width: 100%;
  height: 240px; 
  padding: 20px; 
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between; 
  box-sizing: border-box;
  border-radius: 8px;
  background-color:#eeeeee;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}
.dashboard-stat-card h3 {
  font-size: 16px;
  color: #2023cf;
  margin-bottom: 10px;
}
.dashboard-stat-card button {
  width: 100%;
  padding: 10px 20px; 
  border: none;
  border-radius: 25px;
  background-color:#1114a3;
  color: #ffffff;
  font-size: 15px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin: 0 10px;
}
.dashboard-stat-card button:hover {
  background-color: #2023cf;
}
.dashboard-list-placeholder{
  width: 100px;
  height: 50px;
  background-color: #d1d8e0;
  border-radius: 5px;
  display: flex;
  align-items: center;
  color: #ffffff;
  font-size: 10px;
  margin: 5px;
  padding: 20px;
}
.dashboard-temperature{
  width: 160px;
  height: 10px;
  background-color: #d1d8e0;
  border-radius: 60px;
  border: 2px solid #2023cf;
  display: flex;
  align-items: center;
  color: #000000;
  font-size: 15px;
  margin: 5px;
  padding: 20px;
  border-style: solid 12px;
  

}
.dashboard-heartrate{
  width: 130px;
  height: 1px;
  background-color: #d1d8e0;
  border-radius: 60px;
  border: 1px solid #2023cf;
  display: flex;
  align-items: center;
  color: #ffffff;
  font-size: 10px;
  margin: 5px;
  padding: 10px; 
  border-style: solid 12px;
}
.dashboard-treatment{
  width: 100px;
  height: 20px;
  background-color: #d1d8e0;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  font-size: 10px;
  margin: 5px;
}
.dashboard-container2 {
  display: flex;
  justify-content: space-between;
}
.dashboard-analytics{
  width: 100%;
  height: 300px; 
  padding: 20px; 
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between; 
  box-sizing: border-box;
  border-radius: 8px;
  background-color:#1114a3;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.dashboard-analytics h3{
  font-size: 16px;
  color: #ffffff;
  margin-bottom: 10px;
}

.button{
  
  width: 50%;
  padding: 5px 10px;
  padding-left: 10px;
  border:#d1d8e0;
  border-radius: 5px;
  border-color: #000000;
  background-color:#1114a3;
  color: #ffffff;
  font-size: 15px;
  cursor: pointer;
 
}


/*WHATS THIS FOR ===========*/
.chart-placeholder {
  width: 550px;
  height: 200px;
  background-color:#e1e1e6;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  font-size: 18px;
}


.dashboard-bmi{
  width: 250px;
  height: 300px;  
  padding: 20px; 
  margin: 10px;
  box-sizing: border-box;
  border-radius: 8px;
  background-color:#eeeeee;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.dashboard-bmi h3{
  font-size: 16px;
  color: #2023cf;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  
}
.dashboard-bmi p{
  font-size: 16px;
  color: #a3a3a3;
  margin: 10px;
  border-radius: 8px;
}
.dashboard-height-placeholder{
  width: 100px;
  height: 20px;
  background-color: #d1d8e0;
  border-radius: 60px;
  border: 1px solid #2023cf;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  font-size: 10px;
  padding: 10px;
}
.dashboard-weight-placeholder{
  width: 100px;
  height: 20px;
  background-color: #d1d8e0;
  border-radius: 60px;
  border: 1px solid #2023cf;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  font-size: 10px; 
  padding: 10px;
}
.dashboard-bmi-placeholder{
  width: 100px;
  height: 20px;
  background-color: #d1d8e0;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  font-size: 10px; 
}
.dashboard-container3 {
  display: flex;
  justify-content: space-between;
}
.dashboard-Prescription{
  width: 100%;
  height: 300px; 
  padding: 20px; 
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  border-radius: 8px;
  background-color:#eeeeee;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  color: #2023cf;
}
.dashboard-Prescription h3{
  font-size: 16px;
  color: #2023cf;
  margin-bottom: 10px;
}
.dashboard-Prescription table {
  width: 100%;
}
.dashboard-Prescription table th{
  width: 70px;
  height: 20px;
  background-color: #2023cf;
  border-radius: 5px;
  color: #ffffff;
  font-size: 10px;
  padding: 10px; 
}
.dashboard-Prescription table td{
  width: 70px;
  height: 20px;
  border-radius: 5px;
  color: #2023cf;
  border: solid 1px #2023cf;
  font-size: 10px;
  padding: 10px; 
  text-align: center;
}
.dashboard-notes{
  width: 470px;
  height: 300px; 
  padding: 20px; 
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  border-radius: 8px;
  background-color:#1114a3;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.dashboard-notes h3{
  font-size: 16px;
  color: #ffffff;
  margin-bottom: 10px;
}
.dashboard-note-placeholder{
  width: 210px;
  height: 200px;
  background-color:#1a1dca;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  font-size: 18px;
}






.dashboard-container{
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;


  
}

.dashboard-container a{

    font-weight: 500;
    color: #646cff;
    text-decoration: inherit;

}

.dashboard-container a:hover{
  color: #535bf2;
}

.dashboard-sidebar button{
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
}

.dashboard-container button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.dashboard-header-icons button:hover{
  border-color: #646cff;
}

.dashboard-header-icons button{
  background-color: #1114a3;
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
}


.dashboard-container {
  background-image: url('../../assets/picture/cityhall.png');
  background-size: cover;
  background-position: center;
}




.dashboard-settings{
  padding: 0;
  margin: 0;
  color: #000;
  font-weight: bold;
}

.dashboard-button-settings {
  margin: 10px;
}


/*terms and condition in setting*/
.dashboard-settings-tc{
  color: #000;
}

.dashboard-settings button{
  margin: 10px;
}


.dashboard-button-settings button {
  margin: 10px;
  padding: 10px 15px;
  background-color: #1114a3;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.dashboard-boton:hover {
  background-color: #0d0d9e;
}


