.map-wrap {
    position: relative;
    width: 100%;
    height: calc(100vh - 77px); /* calculate height of the screen minus the heading */
    display: flex;

  }

  
  .gmap {
    width: 100%;
    height: calc(100vh - 77px); /* Adjust for header height + space above the map */
  }

  .map-popup {
    background: white;
    color: black;
    border-radius: 5px;
    padding: 10px;
    font-size: 14px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  }


  .mapspace {
    padding-bottom: 20px; /* Adds some space above the map container */
  }