.modal-prenatal{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-content-prenatal{
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    position: relative;
    width: 100%;
    max-width: 800px;
    overflow-y: auto;
    max-height: 90vh;
}

.record-form :where(.inputs input, select){
    position: relative;
    height: 45px;
    width: 100%;
    outline: none;
    font-size: 1em;
    color: black;
    margin-top: 8px;
    border: 1px solid #003399;
    border-radius: 20px;
    padding: 0 15px;
    box-sizing: border-box;
}



.record-form .inputs{
    width: 100%;
    margin-top: 20px;
}

.inputs label {
    color: #1114a3;
}

.inputs input:focus {
     box-shadow: 0 1px 0 rgba(199, 4, 4, 0.1);
}

.record-form .inputs-column {
    display: flex;
    flex-direction: row;
    column-gap: 15px;
}

.buttons{
     display: flex;
    margin-left: 620px;
    bottom: 10px;
    margin-top: 15px;
    width: 100%;
}

.submit-btn{
    background-color: #1114a3;
    border: none;
    border-radius: 25px;
    color: #ffffff;
    font-size: 15px;
    cursor: pointer;
    padding: 10px 20px;
    transition: background-color 0.3s ease;
    margin: 0 10px;
}

.close-btn{
    background-color: #FF5733;
    border: none;
    border-radius: 25px;
    color: #ffffff;
    font-size: 15px;
    cursor: pointer;
    padding: 10px 20px;
    transition: background-color 0.3s ease;
    margin: 0 10px;
}