.container {
    display: flex;
}
.container h1{
    display: flex;
    justify-content: center;
    color: #1114a3;
    font-weight: bolder;
}

.main{
    display: flexbox;
    width: 100%;
    height: 100vh;
    padding: 20px;
    background-color: #f5f5f5; /* Adjust background color */
    box-sizing: border-box;
  
}

.contents{
    display: flex;

    margin-top: 20px;
    flex-wrap: wrap;
    

   
}

.contents button{

     background-color: #1114a3;
    color:#ffffff;
    width: auto;
    border: none;
    border-radius: 25px;
    padding: 10px 20px;
    font-size: 15px;
    cursor: pointer;
 
}

.contents button:hover {
    background-color: #2023cf;
    color: #ffffff;
}


.header {
    display: flex;
    align-items: center;
    padding-bottom: 20px;
    border-bottom: 2px solid #1114a3;
    justify-content: space-between;
    color: #1114a3;

}
.header-icons i {
    font-size: 18px;
    cursor: pointer;
    color: #1114a3;
    margin:2px;
}

.header .icon {
    font-size: 18px;
    cursor: pointer;
    color: #1114a3;
    margin:2px;
    

    i{
        margin-left: 20px;
    }
}

.header h2 {
    font-size: x-large;
    margin: 0;
}

.stat-card {
    width: 100%;
    height: auto;
    align-items: center;
    display: flex;
    flex-direction: column;
    background-color:#1114a3;
    justify-content: flex-start;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.stat-card h1 {
    font-size: 50px;
    color: #ffffff;


}

.stat-card h2 {
    font-size: 25px;
    color: #ffffff;


}

.stat-card p {
    font-size: 20px;
    color: #ffffff;
 
}

.stat-card button {
    background-color: #ffffff;
    color: #1114a3;
    width: auto;
    border: none;
    border-radius: 25px;
    padding: 10px 20px;
    font-size: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.stat-card span {
    font-size: 20px;
    color: #ffffff;
    justify-content: space-evenly;
    gap: 20%;

}

.chart-container {
   width: 100%;
   height: 100%;
    justify-content: center;
    display: flex;
    align-items: center;
    
}
.placeholder{

    width: 100px;
    height: auto;
    background-color: #1114a3;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    color: #000000;
    font-size: 10px;
    margin: 5px;
    padding: 20px;
}

.placeholder h2 {
    font-size: 25px;
    color: #ffffff;
}

.container{
    display: flex;
}


.table-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    width: 100%;
}
.table-cont{
        width: 100%;
        border-collapse: collapse;
      
}
.table-cont th, .table-cont td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: center;
    background-color: #1114a3;
    color: white;
  }

.table-cont td{
    background-color: #f5f5fb;
    color: black;
}

