
.container{
    display: flex;
}


 
.cont{
    display: flex;
    align-content:center;
    margin-top: 10%;
}
.navbar button.active{
    
    
    background-color:#1e21d2;
    border: none;
    color: rgb(255, 255, 255);
    padding: 15px 20px;
    width: 180px;
    text-align: center;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    font-size: medium;
    
    transition: width 0.3s ease;
}


.one{
    font-size:  large;
    align-items: center;
    
 
}

 .PatRec{
   
    margin-bottom: 15px;
    background-color:#1114a3;   
    border: none;
    color: rgb(255, 255, 255);
    padding: 15px 20px;
    width: 190px;
    text-align: center;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    font-size: medium;
} 

 .Consult{
   
    margin-bottom: 15px;
    background-color:#1114a3;
    border: none;
    color: rgb(255, 255, 255);
    padding: 15px 20px;
    width: 170px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    font-size: medium;
   
} 

.dash{
    margin-bottom: 15px;
    background-color:#1114a3;
    border: none;
    color: rgb(255, 255, 255);
    padding: 15px 20px;
    width: 150px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    font-size: medium;
} 

/* .active:hover { background: #1e21d2;} */
 .PatRec:hover{background: #1e21d2;}
.Consult:hover{background: #1e21d2;}
.dash:hover{background:#1e21d2;}
.navbar ul{
    list-style: none;
}
.navbar > ul > li:first-child{
    display: flex;
    justify-content: flex-end;
}
.navbar button{
    background-color:#1114a3;
    border: none;
    color: white;
    justify-content: flex-end;
    width: 15px;
    height: 15px;
}
.navbar .active:hover{
    background-color: #1e21d2;
} 
 .navbar a{
    border-radius: .5em;
    padding: .85em;
    text-decoration: none;
    color: #ffffff;
    display: flex;
    align-items: center;
    gap: 0.5em;
  } 
 .navbar .logo {
    width: 100%;
}

 .navbar .logout{
    display: flex;
   margin-top: 250%;
    justify-content: center;
    
} 
 /* .logout:hover{color: #1e21d2;} */

.main{
    display: flexbox;
    width: 100%;
    height: 100vh;
    padding: 20px;
    background-color: #f5f5f5; /* Adjust background color */
    box-sizing: border-box;
  
}
.main-content {
    flex-grow: 1;
    padding: 20px;
    background-color: #e1e1e1;
    overflow-y: auto;
}

.header{
    display: flex;
    align-items: center;
    padding-bottom: 20px;
    border-bottom: 2px solid #1114a3;
    justify-content: space-between;
    color: #1114a3;

}

.header-text{
    font-size: 30px;
    color: #1114a3;
}
.header-icons i {
    font-size: 18px;
    cursor: pointer;
    color: #1114a3;
    margin:2px;
}

.header .icon {
    font-size: 18px;
    cursor: pointer;
    color: #1114a3;
    margin:2px;
    

    i{
        margin-left: 20px;
    }
}

.header h2 {
    font-size: x-large;
    margin: 0;
}

.contents{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;

   
}
.patrec-btn .adit:hover{
    background-color: #1e21d2;
    color: white;

}
.patrec-btn button{
    padding: 5px 10px;
    background-color: #1114a3;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;

}
.patrec-btn .record_btn:hover{
    background-color: #1e21d2;
}


.patrec-btn .opt {
    padding: 5px 10px;
    background-color: #1114a3;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-left: 15px;
}
.opt:hover{
    background-color: #1e21d2;
}
.patrec-btn .close_btn{
    background-color: rgba(111, 110, 110, 0.592);    
    border: none;
    cursor: pointer;
    padding: 5px 10px;
    border-radius: 4px;
}
.record_btn:hover{background-color: #1e21d2  ;}
.close_btn:hover{background-color: #888;}

.patrec-btn .record_btn{
background-color: #1114a3;
color: white;
border: none;
border-radius: 4px;
cursor: pointer;
padding: 5px 10px;
}
.search{
    padding: 5px;
    border: none;
    border-radius: 4px;
}

.table-container {
    margin-top: 20px;
    width: 100%;
}
.table-cont{
        width: 100%;
        border-collapse: collapse;
      
}
.table-cont th, .table-cont td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: center;
    background-color: #1114a3;
    color: white;
  }

.table-cont td{
    background-color: #f5f5fb;
    color: black;
}

.table-cont button{
    padding: 5px 10px;
    background-color: #1114a3;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
.table-cont button:hover{
    background-color: #1e21d2;
}
  .pagination {
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
  }
  
  .pagination .page-btn {
    padding: 5px 10px;
    background-color: #1114a3;
    color: white;
    border: none;
    border-radius: 4px;
    margin: 0 5px;
    cursor: pointer;
  }
  
  .pagination .page-btn:hover {
    background-color: #1e21d2;
  }

   .win{
    display: none; 
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(19, 18, 18, 0.5);
} 

.winvit_content{
   border-radius: 5px;
    background-color: #fefefe;
    margin: 10% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 35%; 
    text-align: center;
}
.input{
    display: flex;
    flex-flow:row wrap;
    align-items: center;
    justify-content: center;
    

    label{
        margin: 2px 10px 5px 0px;
        font-weight: bold;
    }

    input{
        vertical-align:middle;
        margin: 2px 10px 10px 0;
        padding: 10px;
        width: 30%;
        background-color: #fff;
        border: 2px solid #ddd;
        border-radius: 5px;
    }
    
    span{display: flex; 
        align-items: center;
        }
    
    
}


.close:hover,
.close:focus {
  color: #080808;
  text-decoration: none;
  cursor: pointer;
}

.winreg_content{
    border-radius: 5px;
    background-color: #fefefe;
    margin: 10% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 50%; 
    text-align: center;
}

.input1{
    display: flex;
    flex-flow:row wrap;
    align-items: center;
    justify-content:flex-start;
    

    label{
        margin: 2px 10px 5px 0px;
        font-weight: bold;
    }

    input{
        vertical-align:middle;
        margin: 2px 10px 10px 0;
        padding: 10px;
        width: 35%;
        background-color: #fff;
        border: 2px solid #ddd;
        border-radius: 5px;
    }
    
    span{display: flex; 
        align-items: center;
        }
    
    
}

.fbg{
    display: flex;
    align-items: center;
}



.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}
.popup-content {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
    align-items: center;
    justify-content: center; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 90%;
    width: 1000px;
    height: 500px;
    position: relative;
    color: #1114a3;
}
.popup-content button{
    width: auto;
    padding: 10px 20px; 
    border: none;
    border-radius: 25px;
    background-color:#1114a3;
    color: #ffffff;
    font-size: 15px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin: 0 10px;
}
.popup-content button:hover {
    background-color: #2023cf;
}
.button-container {
    display: flex;
    gap: 10px; 
    margin-top: 15px; 
}

.close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    cursor: pointer;
    color: #333333;
}


.container1 {
    display: flex;
    justify-content: space-between;
}
.stat-card {
    width: 100%;
    height: 100%; 
    padding: 20px; 
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between; 
    box-sizing: border-box;
    border-radius: 8px;
    background-color:#eeeeee;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.stat-card h3 {
    font-size: 20px;
    color: #2023cf;
    margin-bottom: 10px;
}
.stat-card a {
    width: 35%;
    padding: 1px 20px; 
    border: none;
    border-radius: 25px;
    background-color:#1114a3;
    color: #ffffff;
    font-size: 15px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin: 0 10px;
}
.stat-card a:hover {
    background-color: #2023cf;
}
.stat-card button {
    width: 50%;
    padding: 10px 20px; 
    border: none;
    border-radius: 25px;
    background-color:#1114a3;
    color: #ffffff;
    font-size: 15px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin: 0 10px;
}
.stat-card button:hover {
    background-color: #2023cf;
}
 .list-placeholder ul {
    list-style:decimal;
    display: flexbox;
    flex-wrap: wrap;
    justify-content: space-between;
}
 
.list-placeholder{
    
    width: 150px;
    height: 100px;
    background-color: #eeeeee;
    border-radius: 5px;
    display: flex;
    align-items: center;
    color: #000000;
    font-size: 10px;
    margin: 5px;
    padding: 20px;
}
.totpatient-placeholder{
    width: 100px;
    height: 100px;
    background-color: #eeeeee;
    border-radius: 5px;
    display: flex;
    align-items: center;
    color: #000000;
    font-size: 50px;
    margin: 5px;
    padding: 20px;
}
.consult-placeholder{
    width: 100px;
    height: 100px;
    background-color: #eeeeee;
    border-radius: 5px;
    display: flex;
    align-items: center;
    color: #000000;
    font-size: 50px;
    margin: 5px;
    padding: 20px; 
} 
.treatment{
    width: 100%;
    height: 140px;
    background-color: #eeeeee;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #000000;
    font-size: 16px;
    margin: 5px;

}

.container2 {
    display: flex;
    justify-content: space-between;
}
.analytics{
    width: 50%;
    height: auto; 
    padding: 20px; 
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between; 
    box-sizing: border-box;
    border-radius: 8px;
    background-color:#eeeeee;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    color: #1114a3;
}
.analytics h3{
    font-size: 16px;

    margin-bottom: 10px;
}

.appoint{
    width: 50%;
    height: 288;  
    padding: 20px; 
    margin: 10px;
    box-sizing: border-box;
    border-radius: 8px;
    background-color:#eeeeee;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.appoint h3{
    font-size: 16px;
    color: #2023cf;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.appoint p{
    font-size: 16px;
    color: #a3a3a3;
    margin: 10px;
    border-radius: 8px;
}
.appoint-placeholder{
    width: 100%;
    height: 85%;
    background-color: #eeeeee;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #000000;
    font-size: 15px; 
}



.container3 {
    display: flex;
    justify-content: space-between;
}
.Prescription{
    width: 100%;
    height:auto; 
    padding: 20px; 
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    border-radius: 8px;
    background-color:#eeeeee;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    color: #2023cf;
}
.Prescription h3{
    font-size: 20px;
    color: #2023cf;
    margin-bottom: 10px;
}
.Prescription table {
    width: 100%;
}
.Prescription table th{
    width: 100%;
    height: 100%;
    background-color: #2023cf;
    border-radius: 5px;
    color: #ffffff;
    font-size: 20px;
    padding: 10px; 
}
.Prescription table td{
    opacity:70%;
    width: 100%;
    height: 100%;
    border-color: #1114a3;
    border-style: solid;
    border-width: 1px;
    border-radius: 5px;
    color: #1114a3;
    font-size: 20px;
    padding: 5px;
}
.notes{
    width: 100%;   
    height: 100%; 
    padding: 20px; 
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    border-radius: 8px;
    background-color:#eeeeee;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.notes h3{
    font-size: 16px;
    color: #2023cf;
    margin-bottom: 10px;
}
.note-placeholder{
    width: 100%;
    height: 100%;
    background-color: #eeeeee;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #000000;
    font-size: 18px;

   
}
.note-placeholder .input{
        height: 100%;
        width: 100%;
    }

#map {
    height: 100%;
  }
  
  /* Makes the sample page fill the window. */
/*  html,
  body {
    height: 100%;
    margin: 0;
    padding: 0;
  }*/
  
  .map-control {
    background-color: #fff;
    border: 1px solid #ccc;
    box-shadow: 0 2px 2px rgba(33, 33, 33, 0.4);
    font-family: "Roboto", "sans-serif";
    margin: 10px;
    /* Hide the control initially, to prevent it from appearing
             before the map loads. */
    display: none;
  }
  
  /* Display the control once it is inside the map. */
  #map .map-control {
    display: block;
  }
  
  .selector-control {
    font-size: 14px;
    line-height: 30px;
    padding-left: 5px;
    padding-right: 5px;
  }
  

   .sidebar {
    display: flex;
    padding-left: 5px;
    align-items: flex-end;
    width: 250px; /* Default width */
    height:100%; 
    background-color: #1114a3; /* Adjust color */
    color: #ecf0f1;
    transition: width 0.3s ease;
    overflow: hidden;
    display: flex;
    flex-direction: column; */ */
   } 
  
  .sidebar.collapsed {
    width: 60px; /* Collapsed width */
    height: 200%;
  }
  
  .toggle-button {
 
    background: none;
    border: none;
    color: #ecf0f1;
    font-size: 18px;
    margin: 10px;
    cursor: pointer;
    text-align: right;
  }
  
  .icon-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 10px;
  }
  
  .menu-item {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    font-family: "Roboto", sans-serif;
  }
  
  .menu-item i {
    font-size: 20px;
  }
  
  .menu-item span {
    font-size: 16px;
    white-space: nowrap;
  } */

  .notes ul {
    display: flex;
    padding: 0;
  }

  .note-placeholder textarea{
    width: 100%;
    height: 100%;
    background-color: #d1d8e0;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #000000;
    font-size: 18px;
    padding: 10px;
    margin: 10px;
  }

  .note-placeholder input {
    width: 50%;
    height: 50%;
    background-color: #d1d8e0;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #000000;
    font-size: 18px;
    padding: 10px;
    margin: 10px;
  }

.modal-content{
  
      box-sizing: border-box;
      background-color:#f5f5f5;
   border-radius: 12px;
   box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);   
}

.modal-content input{
    width: 90%;
    height: 100%;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    background-color:#f5f5f5;
}
.modal-content h3{
    font-size: 20px;
    color: #2023cf;
    margin-bottom: 10px;
  
}

.modal-content button{
    background-color: #1114a3;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 25px;
    color: #ffffff;
    font-size: 15px;
    cursor: pointer;
    padding: 10px 20px;
    transition: background-color 0.3s ease;
    margin: 0 10px;
}

.dropdown {
    position: absolute;
    right: 20px;
    top: 50px;
    background: white;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    z-index: 100;
    padding: 10px;
    width: 200px;
  }
  
  .dropdown ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .dropdown li {
    padding: 8px 10px;
    cursor: pointer;
  }
  
  .dropdown li:hover {
    background: #f5f5f5;
  }
  .modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
  
  .modal-content {
    background: white;
    padding: 20px;
    border-radius: 8px;
    width: 400px;
    position: relative;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  }
  
  .modal-section {
    margin-bottom: 20px;
  }
  
  .close {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
  }
  
  .close:hover {
    color: #1e21d2;

    
  }
/*
  form label {
    font-weight: bold;
    
  }
  
  input[type="text"],
  input[type="email"] {
    width: 90%;
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  input[type="checkbox"] {
   
    width: 10%;
  }
*/

.container4 {
    display: flex;
    justify-content: flex-start;
}

.report{
    width: 100%;   
    height: auto; 
    padding: 20px; 
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    border-radius: 8px;
    background-color:#eeeeee;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    color: #1114a3;
}

.report1{
   
    width: 100%;  
    height: auto; 
    padding: 20px; 
    margin: 10px;

    justify-content: space-evenly;
    align-items: center;
    box-sizing: border-box;
    border-radius: 8px;
    background-color:#eeeeee;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    color: #1114a3;
}

.report-header{

    display: flex;
    justify-content: space-evenly;
    
    
}

.report1 .rep-placeholder{
    width: 30%;
    height: auto;
    background-color: #d1d8e0;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    color: #000000;
    font-size: 18px;
    padding: 10px;
    margin: 10px;
}

     .report1 span{

        width: fit-content;
        height: fit-content;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly   ;
    
    
    } 
.report .prenatal-placeholder{

    width: 100%;
    height: 100%;
    background-color: #d1d8e0;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #000000;
    font-size: 18px;
    padding: 10px;
    margin: 10px;
}

.rep-div{
    flex-direction: column;

}

.container5{
    display: flex;
    justify-content: flex-start;

}

.report2{

    width: 100%;   
    height: auto; 
    padding: 20px; 
    margin: 10px;
    justify-content: space-evenly;
    align-items: center;
    box-sizing: border-box;
    border-radius: 8px;
    background-color:#eeeeee;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    color: #1114a3;
}

.animal-placeholder{

    width: 95%;
    height: max-content;
    background-color: #d1d8e0;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #000000;
    font-size: 18px;
    padding: 10px;
    margin: 10px;
}
