.add-doctors-popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
  display: flex;
  justify-content: center;
  align-items: center;
}

.add-doctors-popup-content { /* WHITE BOX */
  background: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  position: relative;
  width: 100%;
  max-width: 800px;
}

.add-doctors-popup-content h2{
  font-size: 1.5rem;
  color: #003399;
  font-weight: 500;
  text-align: center;
}

.add-doctors-popup-content h4{
  font-size: 1rem;
  color: #003399;
  font-weight: 400;
  text-align: center;
}

.add-doctors-popup-content .add-doctors-form{
    margin-top: 30px;
}

.add-doctors-form .add-doctors-input-box{
    width: 100%;
    margin-top: 20px;
}

.add-doctors-input-box label{
    color: #1114a3;
}

.add-doctors-form :where(.add-doctors-input-box input:not([type="radio"]), .add-doctors-select-box){
  position: relative;
  height: 45px;
  width: 100%;
  outline: none;
  font-size: 1em;
  color: black;
  margin-top: 8px;
  border: 1px solid #003399;
  border-radius: 20px;
  padding: 0 15px;
  box-sizing: border-box;
}

.add-doctors-input-box input:focus{
    box-shadow: 0 1px 0 rgba(199, 4, 4, 0.1);
}

.add-doctors-form .add-doctors-column{
  display: flex;
  column-gap: 15px;
}

.add-doctors-form .add-doctors-gender-box{
    margin-top: 0;
}

.add-doctors-gender-box h3{
  color: #003399;
  font-size: 1.1rem;
  font-weight: 400;
  margin-bottom: 1;
  margin-top: 0;
}

.add-doctors-form :where(.add-doctors-gender-option, .add-doctors-gender){
  display: flex;
  align-items: center;
  column-gap: 30px;
  flex-wrap: wrap;
}

.add-doctors-form .add-doctors-gender{
    column-gap: 5px;
}

.add-doctors-gender input{
    accent-color: #003399;
}

.add-doctors-form :where(.add-doctors-gender input, .add-doctors-gender label){
    cursor: pointer;
}

.add-doctors-gender label{
    color: #003399;
}

.add-doctors-select-box select{
  height: 100%;
  width: 100%;
  outline: none;
  border: none;
  color: rgb(50, 50, 50);
  font-size: 1rem;
}

.add-doctors-gender-option input[type="radio"] {
  transform: scale(2);
  margin-right: 10px;
  margin-bottom: 0;
}

.add-doctors-buttons{
    display: flex;
    margin-left: 620px;
    bottom: 10px;
    margin-top: 15px;
    width: 100%;
}

.delete-doctors-buttons{
    display: flex;
    bottom: 10px;
    margin-top: 15px;
    width: 100%;
    justify-content: center;
    align-items: center;
}


.add-doctors-save-button{
background-color: #1114a3;
    border: none;
    border-radius: 25px;
    color: #ffffff;
    font-size: 15px;
    cursor: pointer;
    padding: 10px 20px;
    transition: background-color 0.3s ease;
    margin: 0 10px;
}

.add-doctors-cancel-button{
background-color: #FF5733;
    border: none;
    border-radius: 25px;
    color: #ffffff;
    font-size: 15px;
    cursor: pointer;
    padding: 10px 20px;
    transition: background-color 0.3s ease;
    margin: 0 10px;
}

.doctors-popup-close-button{
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  background: none;
  border: none;
  font-size: 16px;
}

.add-doctors-shaded-input{
    background-color: #f0f0f0;
    cursor: not-allowed;
    color: #555;
    border: 1px solid #ccc;
}